* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  .box-demo {
    width: 26ch;
    animation: typing 3s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 36px;
    font-weight: bold;
    color: rgb(146, 3, 3);
    position: absolute;
    top: 300px;
    left: 150px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }